* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.formStyles {
  max-width: 400px;
  background-color:white;
  padding: 32px 34px;
  font-size: 14px;
  font-family: inherit;
  color: #212121;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: none;

}
